<div class="article-panel pull-right">
  <ul class="nav nav-pills">
    <li>
      <%= link "Edit", to: article_path(@conn, :edit, @article) %>
    </li>
    <li>
      <%= link "Back", to: article_path(@conn, :index) %>
    </li>
  </ul>
</div>

<div class="article">
  <h1 class="title"><%= @version.title %></h1>

  <div class="content">
    <%= raw Earmark.to_html(@version.content) %>
  </div>
</div>
