<div class="article-panel pull-right">
  <ul class="nav nav-pills">
    <li>
      <%= link "Edit", to: article_path @conn, :edit, @article.title %>
    </li>
  </ul>
</div>
<div class="jumbotron">
  <%= raw Earmark.to_html @article.content %>
</div>
